<%- include('partials/header') %>
<%-include('partials/loadhead') %>
<!-- loader handled via JS; no body tag here -->

<div id="loader"></div>

<div style="display:none;" id="myDiv" class="animate-bottom">
  <!-- complete body without including head -->
<div class="container-fluid">
<div class="about-section">
    <h1>About Our System</h1>
    <br>
    <p><h4>Development of Network Intrusion Detection System (NIDS), with Machine Learning and Deep Learning, Recurrent Neural Network models, MERN web I/O System.</h4></p>
    <br>
    <p>Large numbers of businesses were affected by data infringes and Cyber -attacks due to dependency on internet. To prevent such malicious activity, the network requires a system that detects anomaly and inform the user and alerts the user.</p>
    <p>This project detects Network Intrusion anomalies by using NSL - KDD data-set. The deep learning model Long Short Term Memory (LSTM), superior version of RNN (Recurrent Neural Network) and KNN K - Nearest Neighbour Algorithm) method are used for binary and multi class classification.</p>
    <p>The user enters the hacking parameters in the front end which is designed by using ReactJS. The model predicts the type of attack and gives information about the type of attack to the user. MongoDB is used for storing the data and NodeJS is served as back end framework.</p>
    <p>The project is fully responsive and allows users to detect network intrusions using machine learning and deep learning models.</p>
  </div>
</div>
  <br><br><br>
  <h1 style="text-align:center">Our Team</h1>
<div class="container-fluid">
  <div class="row">
  <div class="card card-about text-center" style="width: 22rem; margin: 0px 30px 30px 30px;">
    <div class="card-body">
      <h4 class="card-title">Vignesh S B</h4>
      <h5 class="card-title">22MID0190</h5>
    </div>
  </div>

  <div class="card card-about text-center" style="width: 22rem; margin: 0px 30px 30px 30px;">
    <div class="card-body">
      <h4 class="card-title">Rubeshwaran S</h4>
      <h5 class="card-title">22MID0165</h5>
    </div>
  </div>

  <div class="card card-about text-center" style="width: 22rem; margin: 0px 30px 30px 30px;">
    <div class="card-body">
      <h4 class="card-title">Adit Ranganathan Suresh</h4>
      <h5 class="card-title">22MID0197</h5>
    </div>
  </div>

  <div class="card card-about text-center" style="width: 22rem; margin: 0px 30px 30px 30px;">
    <div class="card-body">
      <h4 class="card-title">Sanjay S M</h4>
      <h5 class="card-title">22MID0189</h5>
    </div>
  </div>

  <div class="card card-about text-center" style="width: 22rem; margin: 0px 30px 30px 30px;">
    <div class="card-body">
      <h4 class="card-title">Tamil Selven K</h4>
      <h5 class="card-title">22MID0114</h5>
    </div>
  </div>
</div>
</div>

<%- include('partials/footer') %>
</div>

<script>
var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 200);
}
<%- include('partials/loadfoot') %>
