<%- include('partials/header') %>
<%-include('partials/loadhead') %>
<!-- loader handled via JS; no body tag here -->

<div id="loader"></div>

<div style="display:none;" id="myDiv" class="animate-bottom">
  <div class="container-fluid">
    <div class="row">
  <div>
    <h2>
      Your Random Row Prediction is ready now! click the below button to check result.
    </h2>
    <br>
    <br>
    <br>
  </div>
  <div>
    <br>
    <br>
    <a href="/secrets_2" class="btn btn-primary">Random Row Prediction Results</a>
</div>
</div>
</div>
<script>
var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 8000);//50 seconds mere system ke hisaab se...
}
window.addEventListener('load', myFunction);

<%-include('partials/loadfoot') %>

